.cover__bg{
    grid-row: 1/4;
    grid-column: 1/4;
    background-image: url(../../../images/cover.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    background-color: rgba(42, 44, 47, 0.3);   
}

.cover__bg:hover{
    background-blend-mode: overlay;
}

@media screen and (max-width: 768px) {
    .cover__bg {
        background-image: url(../../../images/Cover768.png);
    }
}

@media screen and (max-width: 375px) {
    .cover__bg{
        max-height: 272px;
    }
}