.cover__subtitle{
    grid-row: 3/4;
    grid-column: 1/4;
    z-index: 1;
    max-width: 382px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 6% auto 0;
}

@media screen and (max-width: 451px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 3% auto 0;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 343px;
        font-size: 14px;
        line-height: 17px;
        margin: -55% auto 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        margin: -75% auto 0;
    }
}