.video__duration{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 12% 0 0 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
}

@media screen and (max-width: 1024px) {
    .video__duration{
        margin: 5% 0 0 30px; 
    }
}

@media screen and (max-width: 768px) {
    .video__duration{
        margin: 1% 0 0 10px;
    }
}

@media screen and (max-width: 700px) {
    .video__duration{
        margin: 12% 0 0 30px;
    }
}

@media screen and (max-width: 375px) {
    .video__duration{
        margin: 5% 0 0 30px;
    }
}