@import url(./__bg/cover__bg.css);
@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover{
    margin: 102px auto 0;
    overflow: hidden;
    max-width: 1184px;  
}

.cover:hover .cover__bg{
    opacity: 0.3;
}


@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1045px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .cover{
        max-width: 375px;
        max-height: 272px;
    }
}

@media screen and (max-width: 320px) {
    .cover{
        max-width: 320px;
        max-height: 216px;
    }
}